go 1.18

use (
	./easy-exercise/collatz-conjecture
	./easy-exercise/raindrops
	./easy-exercise/two-fer
	./learning-track/airport-robot
	./learning-track/animal-magic
	./learning-track/annalyns-infiltration
	./learning-track/bird-watcher
	./learning-track/blackjack
	./learning-track/booking-up-for-beauty
	./learning-track/card-tricks
	./learning-track/cars-assemble
	./learning-track/census
	./learning-track/chessboard
	./learning-track/election-day
	./learning-track/elons-toys
	./learning-track/gross-store
	./learning-track/hello-world
	./learning-track/interest-is-interesting
	./learning-track/lasagna
	./learning-track/lasagna-master
	./learning-track/logs-logs-logs
	./learning-track/need-for-speed
	./learning-track/parsing-log-files
	./learning-track/party-robot
	./learning-track/sorting-room
	./learning-track/vehicle-purchase
	./learning-track/weather-forecast
	./learning-track/welcome-to-tech-palace
)
